.bottom{
	position: absolute; 
	left:0; 
	width: 100%; top:1150px; height: 270px;
	 background-color: #ADADAD;
	 border-radius: 8px;
}
.bottom-1{
	position: absolute;
	left: 14%;
	top: 20px;
	width: 50px;
	height: 170px;
	background-color: red;
	
}
.bottom-1-1{
	position: absolute;
	top: 20px;
	left: 12px;
}
.bottom-2{
	position: absolute;
	left: 17%;
	top: 20px;
	width: 70%;
	height: 170px;

}
.bottom-2-1 a{
	display: block;
	width: 120px;
    height: 50px;
    
    float: left;
   
    text-align: center;
    text-decoration: none;
    color: seagreen;
}
